<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

    <name>PEE NOW</name>

    <description> An example for phonegap build docs. </description>   

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="http://dev.isci.storyteching.ph/api/" subdomains="true" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    
    
    <preference name="permissions" value="none"/>

    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>


    <gap:plugin name="org.apache.cordova.geolocation" />
    
    <gap:plugin name="org.apache.cordova.camera" />  
    
    <preference name="phonegap-version" value="3.7.0" />
   

</widget>