
@font-face {
  font-family: 'CameronSansExtraBold';
  src: url('CameronSansExtraBold.eot?#iefix') format('embedded-opentype'),  url('CameronSansExtraBold.woff') format('woff'), url('CameronSansExtraBold.ttf')  format('truetype'), url('CameronSansExtraBold.svg#CameronSansExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
